<ol class="drills">
  @for (
    drillCard of drillCards();
    track drillCard.drillIndex + "-" + drillCard.drill.id
  ) {
    <li class="drill-item">
      <article
        class="card"
        [class.done]="drillCard.state === 'completed'"
        [class.cur]="drillCard.state === 'current'"
        [class.queue]="drillCard.state === 'queued'"
      >
        <app-active-workout-drill-card
          [drillCard]="drillCard"
          (actionTriggered)="drillAction.emit(drillCard.drillIndex)"
          (pauseTriggered)="pauseTimer.emit(drillCard.drillIndex)"
          (resetTriggered)="resetTimer.emit(drillCard.drillIndex)"
          (watchVideo)="watchVideo.emit($event)"
        />
      </article>

      @if (restPanel()?.afterDrillIndex === drillCard.drillIndex) {
        <section class="rest-panel" aria-label="Between-drill rest">
          <div class="rest-panel__head">
            <span>Rest</span>
            <strong>{{ restPanel()?.clock }}</strong>
          </div>
          <div class="rest-panel__controls">
            <ion-button size="small" fill="outline" (click)="skipRest.emit()">
              Skip Rest
            </ion-button>
            <ion-button
              size="small"
              fill="outline"
              (click)="addRestSeconds.emit(30)"
            >
              +30 sec
            </ion-button>
          </div>
        </section>
      }
    </li>
  }
</ol>
