<ol class="drills">
  @for (
    drill of drills();
    track $index + "-" + drill.id;
    let drillIndex = $index
  ) {
    <li class="drill-item">
      <article
        class="card"
        [class.done]="drillStates()[drillIndex] === 'completed'"
        [class.cur]="drillStates()[drillIndex] === 'current'"
        [class.queue]="drillStates()[drillIndex] === 'queued'"
      >
        <app-active-workout-drill-card
          [drill]="drill"
          [drillIndex]="drillIndex"
          [drillState]="drillStates()[drillIndex]"
          [isActionEnabled]="actionEnabledStates()[drillIndex]"
          [actionLabel]="actionLabels()[drillIndex]"
          [actionIcon]="actionIcons()[drillIndex]"
          [defaultRestSeconds]="defaultRestSeconds()"
          [timerLabel]="timerLabels()[drillIndex]"
          [timerClock]="timerClocks()[drillIndex]"
          [showTimerControls]="timerControlStates()[drillIndex]"
          (actionTriggered)="drillAction.emit(drillIndex)"
          (pauseTriggered)="pauseTimer.emit(drillIndex)"
          (resetTriggered)="resetTimer.emit(drillIndex)"
          (watchVideo)="watchVideo.emit($event)"
        />
      </article>

      @if (restAfterDrillIndex() === drillIndex) {
        <section class="rest-panel" aria-label="Between-drill rest">
          <div class="rest-panel__head">
            <span>Rest</span>
            <strong>{{ drillRestClock() }}</strong>
          </div>
          <div class="rest-panel__controls">
            <ion-button size="small" fill="outline" (click)="skipRest.emit()">
              Skip Rest
            </ion-button>
            <ion-button
              size="small"
              fill="outline"
              (click)="addRestSeconds.emit(30)"
            >
              +30 sec
            </ion-button>
          </div>
        </section>
      }
    </li>
  }
</ol>
