<ol class="drills">
  @for (
    drill of drills();
    track $index + "-" + drill.id;
    let drillIndex = $index
  ) {
    <li
      class="card"
      [class.done]="(drillIndex | activeWorkoutDrillState) === 'completed'"
      [class.cur]="(drillIndex | activeWorkoutDrillState) === 'current'"
      [class.queue]="(drillIndex | activeWorkoutDrillState) === 'queued'"
    >
      <app-active-workout-drill-card
        [drill]="drill"
        [drillIndex]="drillIndex"
        [defaultRestSeconds]="defaultRestSeconds()"
        (watchVideo)="watchVideo.emit($event)"
      />
    </li>
  }
</ol>
