<ion-content class="aw-content">
  <main #workoutMain class="aw-shell" tabindex="-1">
    @if (currentWorkout(); as workout) {
      @if (currentWorkoutTemplate(); as workoutTemplate) {
        <div class="aw-topbar">
          <button
            type="button"
            class="cancel-workout-trigger"
            aria-label="Cancel workout"
            (click)="requestCancelWorkout()"
          >
            <ion-icon
              name="close-outline"
              size="large"
              aria-hidden="true"
            ></ion-icon>
          </button>
        </div>

        <app-active-workout-header
          [workout]="workout"
          [workoutTemplate]="workoutTemplate"
          [phaseTitle]="phaseTitle()"
          [estimatedMinutes]="estimatedMinutes()"
          [progressionFocus]="progressionFocus()"
        />

        <app-active-workout-progress-strip
          [workoutTemplate]="workoutTemplate"
          [completedDrillCount]="completedDrillCount()"
          [currentDrillTitle]="currentDrillTitle()"
        />

        <app-active-workout-drill-list
          [drillCards]="drillCards()"
          [restPanel]="restPanel()"
          (drillAction)="handleDrillAction($event)"
          (pauseTimer)="pauseTimer($event)"
          (resetTimer)="resetTimer($event)"
          (skipRest)="skipRest()"
          (addRestSeconds)="addRestSeconds($event)"
          (watchVideo)="openTechniqueVideo($event)"
        />

        <ion-button
          class="finish"
          routerLink="/workout-completion"
          routerDirection="forward"
          expand="block"
          [disabled]="!isWorkoutReadyToFinish()"
        >
          <ion-icon
            name="flag-outline"
            slot="start"
            aria-hidden="true"
          ></ion-icon>
          Finish Workout
        </ion-button>
      } @else {
        <section class="empty">
          <h1>Active Workout</h1>
          <p>No workout template is currently available.</p>
        </section>
      }
    } @else {
      <section class="empty">
        <h1>Active Workout</h1>
        <p>No workout is currently available.</p>
      </section>
    }
  </main>

  <ion-modal
    [isOpen]="isTechniqueVideoOpen()"
    (didDismiss)="closeTechniqueVideo()"
  >
    <ng-template>
      <ion-content class="video-modal">
        <div class="video-modal__bar">
          <h2>Technique Video</h2>
          <ion-button
            fill="clear"
            aria-label="Close technique video"
            (click)="closeTechniqueVideo()"
          >
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </ion-button>
        </div>

        @if (selectedVideoEmbedUrl(); as videoUrl) {
          <iframe
            class="video-modal__frame"
            title="Technique video"
            [src]="videoUrl"
            allow="
              accelerometer;
              autoplay;
              clipboard-write;
              encrypted-media;
              gyroscope;
              picture-in-picture;
              web-share;
            "
            allowfullscreen
            referrerpolicy="strict-origin-when-cross-origin"
          ></iframe>
        }
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
    class="cancel-workout-modal"
    [isOpen]="isCancelWorkoutConfirmationOpen()"
    (didDismiss)="dismissCancelWorkoutConfirmation()"
  >
    <ng-template>
      <ion-content class="cancel-modal">
        <section
          class="cancel-modal__panel"
          role="dialog"
          aria-labelledby="cancel-workout-title"
        >
          <div class="cancel-modal__copy">
            <h2 id="cancel-workout-title">Cancel workout?</h2>
            <p>Your progress in this workout will be discarded.</p>
          </div>

          <div class="cancel-modal__actions">
            <ion-button fill="outline" expand="block" (click)="keepTraining()">
              Keep Training
            </ion-button>
            <ion-button
              color="danger"
              expand="block"
              (click)="confirmCancelWorkout()"
            >
              Cancel Workout
            </ion-button>
          </div>
        </section>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
